<%= stylesheet_link_tag "register" %>
<%= javascript_include_tag "/js/register_form.js" %> 
<%= javascript_include_tag "/js/chooseCity.js" %> 


<div class="reg_main clearfix">
<div class="reg_Contwrap">
<div class="reg_Maincont clearfix">

<%=form_for @user,:as=>:user, :url=>users_path, :method=>"put",:html=>{:name=>"regform",:id=>"regform"} do%>
<input type="hidden" value="" name="bool" id="bool">

<ul class="reg_box clfix">

<li class="accounts">
	<div class="reg_formlabel">邮箱：</div>
	<div style="z-index:1" class="reg_element">
		<span class="inp_box"><input type="text" autocomplete="off" onblur="this.className='txt';check_email()" onfocus="this.className='txt on_fs'" maxlength="100" errmsg="请填写有效的电子邮箱" reqmsg=" 请输入有效的电子邮箱" datatype="email" value="<%=@user ? @user.email : '' %>" name="user[email]" id="regemailinput" class="txt" data-result=""></span>
		<div style="display:none;" id="inputInner">
			<div class="pl6">请选择邮箱的类型</div>
			<a class="preslemail active">@qq.com</a>
			<a class="preslemail">@126.com</a>
			<a class="preslemail">@163.com</a>
			<a class="preslemail">@sina.com</a>
			<a class="preslemail">@sina.cn</a>
			<a class="preslemail">@hotmail.com</a>
			<a class="preslemail">@gmail.com</a>
			<a class="preslemail">@sohu.cn</a>
			<a class="preslemail">@139.com</a>
		</div>

		<div id="email_hint" style="margin-left: 0px; display: block;" class="reg_tips form-valid-tip-normal">
		<div style="display:block;" class="prompt left l">
		<span class="w2 account_taken_kx">请填写有效电子邮箱，推荐使用<i>QQ邮箱</i></span>
		</div>
		</div>
		
		<div style="display:none" id="emailerrtip" class="reg_tips form-valid-tip-err">
		<div style="display:block;" class="error l">
		<span class="form-valid-err-content">请填写有效电子邮箱</span>
		</div>
		</div>
		
		<!--div style="display: block;" id="emailerrtip" class="reg_tips form-valid-tip-err">
		<div style="display:block;" class="error l">
		<span class="form-valid-err-content">该邮箱已经注册，请您直接<a class="sl2" href="/login/?email=">登录</a>或者换一个邮箱</span>
		</div>
		</div-->
		
		<div id="email_img" style="display:none" class="reg_tips form-valid-tip-ok">
		<div class="tips_img l"><img width="17" height="13" src="/images/ok.gif" class="mt5"></div>
		</div>
	</div>
</li>


<li class="password">
<div class="reg_formlabel">密码：</div>
<div class="reg_element">
<span class="inp_box"><input type="password" onblur="this.className='txt';check_password()" onfocus="this.className='txt on_fs'" style="line-height:12px\9;" errmsg="密码应该由6-16个字母、数字或特殊字符组成" reqmsg=" 请输入密码" maxlength="16" minlength="6" reg-pattern="/^[a-z]{6,20}$/" datatype="reg" name="user[password]" class="txt" id="password"></span>
<div id="pwd_hint" style="display:block;margin-left:0;" class="reg_tips form-valid-tip-normal">
<div style="display:block;" class="prompt left l">
<span class="w2 account_taken_kx">由6-16个字母、数字或特殊字符组成</span>
</div>
</div>
<div id="pwd_tip" style="display:none" class="reg_tips form-valid-tip-err">
<div style="display:block;" class="error l">
<span class="form-valid-err-content">必须由6-16个字母、数字或特殊字符组成</span>
</div>
</div>
<div  id="pwd_img" style="display:none" class="reg_tips form-valid-tip-ok">
<div class="tips_img l"><img width="17" height="13" src="/images/ok.gif" class="mt5"></div>
</div>
</div>
</li>


<li class="password">
<div class="reg_formlabel">确认：</div>
<div class="reg_element">
<span class="inp_box"><input type="password" onblur="check_confirm();this.className='txt';" onfocus="this.className='txt on_fs'" style="line-height:12px\9;" errmsg="两次输入密码必须一致" reqmsg=" 请输入确认密码" maxlength="16" minlength="6" reg-pattern="/^[a-z]{6,20}$/" datatype="reg" name="user[password_confirmation]" class="txt" id="confirm_password"></span>
<div id="confirm_hint" style="display:block;margin-left:0;" class="reg_tips form-valid-tip-normal">
<div style="display:block;" class="prompt left l">
<span class="w2 account_taken_kx">两次输入密码必须一致</span>
</div>
</div>
<div id="confirm_tip" style="display:none" class="reg_tips form-valid-tip-err">
<div style="display:block;" class="error l">
<span class="form-valid-err-content">两次输入密码必须一致</span>
</div>
</div>
<div id="confirm_img" style="display:none" class="reg_tips form-valid-tip-ok">
<div class="tips_img l"><img width="17" height="13" src="/images/ok.gif" class="mt5"></div>
</div>
</div>
</li>



<li class="name">
<div class="reg_formlabel">姓 &emsp; 名：</div>
<div class="reg_element">
<span class="inp_box"><input type="text" data-valid-method="post" onblur="this.className='txt';check_name()" onfocus="this.className='txt on_fs'" data-valid-url="/register/check_reg_name.php?mode=detail" errmsg="请填写你的真实中文姓名" reqmsg=" 请输入真实中文姓名" datatype="cnname" name="user[name]" class="txt" id="real_name"></span>
<div id="name_hint" style="display:block;margin-left:0;" class="reg_tips form-valid-tip-normal">
<div style="display:block;" class="prompt left l">
<span class="w2 account_taken_kx">请填写你的真实中文姓名</span>
</div>
</div>
<div id="name_tip" style="display:none" class="reg_tips form-valid-tip-err">
<div style="display:block;" class="error l">
<span class="form-valid-err-content">中文姓名必须由2到4个汉字组成</span>
</div>
</div>
<div id="name_img" style="display:none" class="reg_tips form-valid-tip-ok">
<div class="tips_img l"><img width="17" height="13" src="/images/ok.gif" class="mt5"></div>
</div>
</div>
</li>



<li class="sing">
<div class="reg_formlabel reg_pt2px">性 &emsp; 别：</div>
<div class="reg_element reg_mt2 reg_lh">
<input type="radio" reqmsg=" 请选择性别" value="0" class="vm" name="user[gender]"><label class="reg_labWidth vm"> 男 </label>
<input type="radio" reqmsg=" 请选择性别" checked="" value="1" class="vm" name="user[gender]"><label class="reg_labWidth vm"> 女 </label>
<div style="display:none" class="reg_tips form-valid-tip-err">
<div style="display:block;" class="error l">
<span class="form-valid-err-content"></span>
</div>
</div>

</div>
</li>


<li class="birthday">
<div style="margin-top:8px;" class="reg_formlabel">生 &emsp; 日：</div>
<div id="selectBox" class="reg_element reg_mt3">
<label>
<%=select_tag :year,options_for_select(year_options,:selected=>0),:class=>"w74 l",:reqmsg=>" 请填写真实的出生日期", :datatype=>"uv",:onchange=>"change_date()"%>
<label style="color:#333" class="reg_timeinto">年</label>
</label>
<label>
<%=select_tag :month,options_for_select(month_options,:selected=>0),:class=>"w50 l",:reqmsg=>" 请填写真实的出生日期", :datatype=>"uv",:onchange=>"change_date()"%>
<label style="color:#333" class="reg_timeinto">月</label>
</label>
<label>
<%=select_tag :day,options_for_select(day_options,:selected=>0),:class=>"w50 l",:reqmsg=>" 请填写真实的出生日期", :datatype=>"uv"%>
<label style="color:#333" class="reg_timeinto">日</label>
</label>

<div id="birth_tip" style="display:none" class="reg_tips form-valid-tip-err">
<div style="display:block;" class="error l">
<span class="form-valid-err-content">请选择完整的生日日期</span>
</div>
</div>
<div id="birth_img" style="display:none" class="reg_tips form-valid-tip-ok">
<div class="tips_img l"><img width="17" height="13" src="/images/ok.gif" class="mt5"></div>
</div>
</div>
</li>


<li class="state">
<div style="margin-top:5px;" class="reg_formlabel reg_pt4px">我 现 在：</div>
<div class="reg_element reg_mt2 reg_lh">
<input type="radio" reqmsg=" 请选择工作还是上学" value="2" class="vm" name="user[status]" checked=""><label class="reg_labWidth vm"> 在工作</label><input type="radio" reqmsg=" 我现在" value="1" class="vm" name="user[status]"><label class="reg_labWidth vm"> 在上学</label><input type="radio" reqmsg=" 其它" value="0" class="vm" name="user[status]"><label style="width:30px;" class="reg_labWidth vm"> 其它</label>
<div style="display:none" class="reg_tips form-valid-tip-err">
<div style="display:block;" class="error l">
<span class="form-valid-err-content"></span>
</div>
</div>

</div>
</li>
<li class="live">
<div style="margin-top:4px" class="reg_formlabel">居 住 地：</div>
<div class="reg_element">
<span class="inp_box"><input type="text" onblur="this.className='job incon_city_arrowbottom'" onfocus="this.className='job incon_city_arrowbottom on_fs'" reqmsg=" 请选择居住地" value="" name="user[city]" class="job incon_city_arrowbottom" style="ime-mode: disabled;" readonly onclick="popup_locate()" id="location"></span>
<div style="display:none" class="reg_tips form-valid-tip-err">
<div style="display:block;" class="error l">
<span class="form-valid-err-content"></span>
</div>
</div>

</div>
</li>


<li style="display:none;" class="captchadiv">
<div class="reg_formlabel">验 证 码：</div>
<div class="reg_element ">
<span class="inp_box"><input type="text" value="" onblur="this.className='capt'" onfocus="this.className='capt on_fs'" autocomplete="off" errmsg="验证码输入错误，请重输" reqmsg=" 请输入验证码" data-valid-url="/interface/checkcode.php?keytype=reg&amp;rcode=" name="code" class="capt"></span>
<div style="display:none" class="reg_tips form-valid-tip-err">
<div style="display:block;" class="error l">
<span class="form-valid-err-content">验证码输入错误，请重输</span>
</div>
</div>

</div>
</li>


<li style="display:none;" class="reg_bt captchadivImg  captchadiv">
<img align="absmiddle" src="/images/captcha.gif" data-keytype="reg" id="randimg2"> <a href="#" class="sl2" id="changeRcode2">换一张</a>
</li>


<li class="reg_bt clause">
<span id="reg_opera" class="agreearea">
<input type="checkbox" reqmsg=" 必须同意服务条款" value="1" checked="checked" id="agree" name="user[agree]">
<label for="agree">同意 <a target="_blank" class="sl2"  href="#">服务条款</a></label>
</span>
<div class="reg_element">
<div id="agree_tip" style="display:none" class="reg_tips form-valid-tip-err">
<div style="display:block;" class="error l">
<span class="form-valid-err-content">必须同意服务条款</span>
</div>
</div>
</div>
</li>


<li class="reg_bt">
<span class="btn_nowRegBox"><input type="submit" onclick="return check_form();" class="btn_nowReg" value="立即注册" id="" name=""></span>
<p class="mt3 c9" style="display:none;*padding-top:3px;_padding-top:5px;" id="submit_tip">&#12288;注册中&nbsp;&nbsp;<img src=""></p>
<div class="h20"></div>
</li>
</ul>


<div style="display: none; position: absolute; top: 450px; left: 400px; z-index: 100;" id="choose_city">
	<div style="position:absolute;z-index:-1;left:-8px;top:0;width:470px;">
	<iframe frameborder="0" style="width:100%;filter:alpha(opacity=0);-moz-opacity:0"></iframe>
	</div>
	<div class="cityBg_top"></div>

	<div class="cityBg">
		<div id="provincebox" class="cbox">
		</div>
		<div id="citybox" style="margin-top: 12px; display: none;" class="cbox">				
		</div>
		<div class="btn_area">
			<span class="e_d52"><input type="button" style="width:45px;" onmouseout="this.className='gb3';" onmouseover="this.className='gb4';" class="gb3" title="关闭" value="关闭" id="btn_fb" onclick="close_box()"></span>
		</div>
	</div>

  <div class="cityBg_bot"></div>
</div>

<%end%>



</div>
</div>
</div>

<% abc={"abc"=>[{"a"=>1,"b"=>2},{"c"=>3,"d"=>4}]}%>





