<div style="display:block" class="fri_name_first mb10">
  <%klass= (params["group"].to_i==-3 or params["group"].nil?) ? "searchname_href now" : "searchname_href"%>
	<a href="/friend/manage?group=-3" class="<%=klass%>">全部</a>
	<%('a'..'z').to_a.each do |i|%>
	 <%klass= params["group"]==i ? "sl2 searchname_href now" : "sl2 searchname_href"%>
	 <a href="/friend/manage?group=<%=i%>" class="<%=klass%>"><%=i.upcase%></a>
	<%end%>
</div>

<%=render :partial=>"frd_list" %>

<script type="text/javascript">
function delete_friend(id){
  jQuery.ajax({
		type: "post",
		url: "/friend/delete_friend",
		data: {friend_id: id},
		dataType: "json", 
		success:function (result, textStatus) {
			if(textStatus == "success"){
				jQuery("#friend"+result.id).remove();
			}
		 }
  });
}

</script>



