<div class="v3-grid friend-manage">
	<div class="v3-left w160 mr20">	   
			<div class="fri_search">
			  <input id="search_input" type="text" name="keyword"/>
			</div>
			
			<ul class="fri_type_list mb10" id="group_nav_list">
			  <%klass =  params[:group].nil?||params[:group].to_i==-3 ? "now opcls" : "opcls"%>
				<li class="<%=klass%>">
				<a class="l" title="全部好友" href="/friend/manage?group=-3">全部好友</a>
				<span class="c9 r">0</span>
				</li>
				<%klass =  params[:group].to_i==-1 ? "now opcls" : "opcls"%>
				<li class="<%=klass%>">
				<a class="sl2 l" title="挚交好友" href="/friend/manage?group=-1">挚交好友</a>
				<span class="c9 r">0</span>
				</li>
				<%klass =  params[:group].to_i==-2 ? "now opcls" : "opcls"%>
				<li class="<%=klass%>">
				<a class="sl2 l" title="普通朋友" href="/friend/manage?group=-2">普通朋友</a>
				<span class="c9 r">0</span>
				</li>
				<!--li class="opcls">
				<a class="sl2 l" title="朋友的朋友" href="#">朋友的朋友</a>
				<span class="c9 r">0</span>
				</li-->
				<%klass =  params[:group]=="0" ? "now opcls" : "opcls"%>
				<li class="<%=klass%>">
				<a class="sl2 l" title="未分组好友" href="/friend/manage?group=0">未分组好友</a>
				<span class="c9 r">0</span>
				</li>
				<%@grps.each do |g|%>
				<%klass =  params[:group].to_i==g.id ? "now opcls" : "opcls"%>
				<li class="<%=klass%>">
				<a class="sl2 l" title="<%=g.name%>" href="/friend/manage?group=<%=g.id%>"><%=g.name%></a>
				<span class="c9 r">0</span>
				</li>
				<%end%>
			</ul>
			
			
			<b class="py-btn-inner" onclick="toggle_div()"><span class="btn-txt">创建分组</span></b>
			
			<div id="create_group_div" style="display: none;" class="group-action group-create">
				<form action="/friend/create_group" method="post" name="groupform">
				<b class="py-fluid-input"><b class="py-fluid-input-inner">
					<input type="text" maxlength="6" id="create_gname" onkeyup="CheckInputCount(this,6)" class="text" name="group[name]">
				</b></b>
				<p class="act">
					<a onclick="createGroup();" class="py-btn py-btn-deep" href="#nogo"><b class="py-btn-inner"><span class="btn-txt">保存</span></b></a>
					<a onclick="hideCreateGroup();return false;" href="#nogo">取消</a>
				</p>
      </form>
			</div>
			
			<ul class="fri_type_list mb10">
			  <%klass =  params[:group].to_i==-4 ? "now opcls" : "opcls"%>
				<li class="<%=klass%>">
				<a class="sl2 l" title="已发好友请求" href="/friend/manage?group=-4">已发好友请求</a>
				<span class="c9 r">19</span>
				</li>
				<!--li class="">
				<a class="sl2 l" title="我关注的人" href="#">我关注的人</a>
				<span class="c9 r">20</span>
				</li>
				<li class="">
				<a class="sl2 l" title="关注我的人" href="#">关注我的人</a>
				<span class="c9 r">10</span>
				</li-->
				<%klass =  params[:group].to_i==-5 ? "now opcls" : "opcls"%>
				<li class="<%=klass%>">
				<a class="sl2 l" title="谁来看过我" href="/friend/manage?group=-5">谁来看过我</a>
				<span class="c9 r"></span>
				</li>
				<%klass =  params[:group].to_i==-6 ? "now opcls" : "opcls"%>
				<li class="<%=klass%>">
				<a class="sl2 l" title="我去看过谁" href="/friend/manage?group=-6">我去看过谁</a>
				<span class="c9 r"></span>
				</li>
			</ul>
	   
	</div>
	<div class="v3-main">
	  <%=render :partial=>@main_template%>	    
	</div>
</div>

<script type="text/javascript">
function toggle_box(id){
  if(jQuery('#list'+id).css("display")=="none"){
    jQuery('#list'+id).css("display","block") ; 
  }else {
    jQuery('#list'+id).css("display","none");
  }  
}

function toggle_div(){
  if(jQuery('#create_group_div').css("display")=="none"){
    jQuery('#create_group_div').css("display","block") ; 
  }else {
    jQuery('#create_group_div').css("display","none");
  }  
}

function hideCreateGroup(){
  jQuery('#create_group_div').css("display","none");
}

function createGroup(){
  document.groupform.submit();   
}

function change_group(id,grp){
  jQuery.ajax({
  type:"post",
  url:"/friend/change_group",
  dataType: "json", 
  data:{user_id: id,group: grp},
  success:function (result, textStatus) {
		if(textStatus == "success"){	  
			jQuery("#list"+result.jsonReturn[0]).hide();
			jQuery("#group"+result.jsonReturn[0]).html(result.jsonReturn[1]);
		}
   }
  });
}


var q=document.getElementById("search_input");
q.oninput=change_list;//IE 使用onpropertychange事件    


function change_list(){
  var q=document.getElementById("search_input");
  var str=trim(q.value);
  if(str!=""){
    new Ajax.Request("/friend/find", {
    method: "post",
    parameters: "query="+str,
    evalScripts: true,
    onComplete:    function(request) { element.fire("ajax:complete", request); },
    onSuccess:     function(request) { element.fire("ajax:success",  request); },
    onFailure:     function(request) { element.fire("ajax:failure",  request); }
     });
  }  
}

</script>

<style type="text/css">
.v3-left {
    float: left;
    border: 1px solid #E9EFF3;
}

.friend-manage  a{
  color: #0967B0;
}
 

.v3-grid .mr20 {
    margin-right: 20px;
}
.v3-grid .w160 {
    width: 200px;
}
.v3-main {
    display: inline;
    float: right;
    overflow: visible;
    width: 650px;
    overflow: hidden;
}

.fri_search {
    background: url("/images/sear_icon.png") no-repeat scroll 4px center rgba(0, 0, 0, 0);
    border: 1px solid #BFBFBF;
    height: 19px;
    margin-bottom: 11px;
}

.fri_search input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #999999;
    margin-left: 19px;
    width: 130px;
}

.fri_type_list li.now {
    background: url("/images/yousanjiao.gif") no-repeat scroll 7px 10px #F4F4F4;
}

.fri_type_list {
    clear: both;
    overflow: hidden;
}
.mb10 {
    margin-bottom: 10px;
}

.sl, a.sl, .sl2, a.sl2 {
    /*border-bottom: 1px solid #96938E;*/
    color: #336699;
    font-family: Arial;
    text-decoration: none;
}

.py-btn-inner {
    padding: 2px 10px;
    background-image: -moz-linear-gradient(center top , #4DB7EC, #1C94D1);
    background-color: #4DB7EC;
    border-color: #4DB7EC #31A8DF #1C9BD4 #37AAE0;
    cursor: pointer;
}

.frd-group .group-create {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 4px 10px 0;
}
.frd-group .group-action {
    line-height: 22px;
    padding: 4px 10px 10px 0;
    background-color: #E9EFF3;
    position: relative;
}
.py-fluid-input-inner {
    display: block;
    font-weight: normal;
    padding-right: 8px;
}
.py-fluid-input .text, .py-fluid-input input {
    background-repeat: repeat-x;
    border: 1px solid #C1CDE1;
    line-height: normal;
    padding: 3px;
    width: 100%;
}
/*************************************************************/

.fri_name_first {
    height: 19px;
    padding-left: 5px;
}
.mb10 {
    margin-bottom: 10px;
}

.fri_name_first a {
    display: inline-block;
    margin-right: 3px;
    padding: 0 3px;
}
.fri_name_first a.now {
    background: none repeat scroll 0 0 #F4F4F4;
    padding: 0 7px;
}
/*************************************************************/

.xpy-media .img, .py-media .py-img {
    float: left;
    margin-right: 10px;
}

.xy_card img{
  max-width:60px;
  min-height:60px;
  display: block;
  line-height: 0;
}

.xpy-media .ext, .py-media .py-ext {
    float: right;
    margin-left: 10px;
}

.xpy-media .img img, .py-media .py-img img {
    display: block;
    line-height: 0;
}
.xpy-media .img s {
    vertical-align: top;
}

.xpy-media .img-txt, .py-media .main, .py-media .py-main {
    overflow: hidden;
}

.xpy-media:before, .xpy-media:after, .py-media:before, .py-media:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.frd-list .img-txt {
    height: 60px;
}


.frd-list .actions {
    line-height: 22px;
    position: relative;
    width: 160px;
}

.frd-list .act-del {
    background-image: url("/images/sprite.png");
    background-position: 0 0;
    height: 18px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: -999em;
    top: 0;
    width: 18px;
}

.frd-list .actions .change-act .arrow-down {
    border-left: 4px dashed rgba(0, 0, 0, 0);
    border-right: 4px dashed rgba(0, 0, 0, 0);
    border-top: 4px solid #AAAAAA;
    display: inline-block;
    height: 0;
    margin-left: 3px;
    overflow: hidden;
    vertical-align: middle;
    width: 0;
}
.frd-list .group-list {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    left: 0;
    position: absolute;
    text-align: left;
    top: 22px;
    width: 100px;
    z-index: 1;
}
.frd-list .group-list a {
    border-top: 1px dotted #FFFFFF;
    color: #3F3F3F;
    display: block;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    position: relative;
    text-decoration: none;
    text-indent: 10px;
    white-space: nowrap;
}
.frd-list .group-list a:hover {
    background-color: #F3F6F7;
    border-top: 1px dotted #C8C8C8;
}

</style>



